@model IEnumerable<He_SheStore.ViewModel.OrderViewModel>
@{
    ViewData["Title"] = "PendingOrderList";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<div class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">
                <h1 class="m-0">Dashborad</h1>
            </div>
            <div class="col-sm-6">
                <ol class="breadcrumb float-sm-right">
                    <li class="breadcrumb-item"><a href="#">Cancel Order</a></li>
                    <li class="breadcrumb-item active">Index</li>
                </ol>
            </div>
        </div>
    </div>
</div>

<div class="container">
    <div class="col-md-12">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header">
                        <h3 class="card-title text-center" style="float: left">List of Pending Order</h3>
                    </div>
                    <div class="card-body">
                        <div class="table-responsive">
                            <table id="OrderDataTable" width="100%" class="table table-bordered table-striped">
                                <thead>
                                    <tr>
                                        <th>Name</th>
                                        <th>Email</th>
                                        <th>Phone</th>
                                        <th>Country</th>
                                        <th>City</th>
                                        <th>Date</th>
                                        <th>Status</th>
                                        <th>Check Order</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var item in Model)

                                    {
                                        <tr>
                                            <td>@(item.FirstName + " " + item.LastName)</td>
                                            <td>@item.CustomerEmail</td>
                                            <td>@item.MobileNumber</td>
                                            <td>@item.Country</td>
                                            <td>@item.City</td>
                                            <td>@item.OrderDate</td>
                                            <td>@item.OrderStatus</td>
                                            <td>
                                                <a asp-action="CheckOrder" asp-route-id="@item.orderid" asp-route-status="@item.OrderStatus" class="btn btn-info btn-sm">detail</a>
                                            </td>
                                           
                                        </tr>
                                    }
                                </tbody>

                            </table>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>
@section Scripts {
    <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
    <script>
        $('#OrderDataTable').DataTable({
            autoWidth: false,
            columnDefs: [
                {
                    targets: ['_all'],
                    className: 'mdc-data-table__cell',
                },
            ],

        });
        function Delete(id) {
            swal({
                title: "Are you sure?",
                text: "You Want to Deliver This order to Customer!",
                type: "warning",
                buttons: true,
                dangerMode: true,
            })
                .then((willDelete) => {
                    if (willDelete) {
                        $.ajax({
                            url: "/Dashborad/ClearOrder",
                            type: "POST",
                            data: {
                                id: id
                            },
                            dataType: "json",
                            success: function () {
                                swal("Done!", "It was succesfully Deliver list Page!", "success");
                                window.location.href = '../Admin/UserDeliverOrder';
                            },
                            error: function (xhr, ajaxOptions, thrownError) {
                                swal("Error deleting!", "Please try again", "error");
                            }
                        });
                    } else {
                        swal("Your imaginary file is safe!");
                    }
                });
        }

    </script>
}

