@model IEnumerable<He_SheStore.Models.testimonial>

@{
    ViewData["Title"] = "testimonial";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<div class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">
                <h1 class="m-0">Dashborad</h1>
            </div>
            <div class="col-sm-6">
                <ol class="breadcrumb float-sm-right">
                    <li class="breadcrumb-item"><a href="#">testimonial</a></li>
                    <li class="breadcrumb-item active">testimonial</li>
                </ol>
            </div>
        </div>
    </div>
</div>

<div class="container">
    <div class="col-md-12">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header">
                        <h3 class="card-title text-center" style="float: left">List of testimonial</h3>

                    </div>
                    <div class="card-body">
                        <div class="table-responsive">
                            <table id="ContactDataTable" width="100%" class="table table-bordered table-striped">
                                <thead>
                                    <tr>
                                        <th>First name</th>
                                        <th>Last name</th>
                                        <th>Email</th>
                                        <th>Status</th>
                                        <th>Customer Message</th>
                                        <th>Aprove</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var item in Model)

                                    {
                                        <tr>
                                            <td>
                                                @item.FirstName
                                            </td>
                                            <td>@item.LsdtName</td>
                                            <td>@item.Email</td>

                                            <td>@item.Status</td>
                                            <td>@item.ReviewAbout</td>                                   
                                            <td>
                                                <a href="javascript:void(0)" onclick="Delete('@item.Id')" class="btn btn-info btn-sm">Change Status</a>

                                            </td>

                                        </tr>
                                    }
                                </tbody>

                            </table>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>


@section Scripts {

    <script>
        $('#ContactDataTable').DataTable({
            autoWidth: false,
            columnDefs: [
                {
                    targets: ['_all'],
                    className: 'mdc-data-table__cell',
                },
            ],

        });
        function Delete(id) {
            swal({
                title: "Are you sure?",
                text: "You will not be able to recover this imaginary file!",
                type: "warning",
                buttons: true,
                dangerMode: true,
            })
                .then((willDelete) => {
                    if (willDelete) {
                        $.ajax({
                            url: "/Admin/ChangeStatus",
                            type: "POST",
                            data: {
                                id: id
                            },
                            dataType: "json",
                            success: function () {
                                swal("Done!", "It was succesfully deleted!", "success");
                                window.location.href = '../Admin/testimonial';
                            },
                            error: function (xhr, ajaxOptions, thrownError) {
                                swal("Error deleting!", "Please try again", "error");
                            }
                        });
                    } else {
                        swal("Your imaginary file is safe!");
                    }
                });
        }

    </script>
}
