@model IEnumerable<He_SheStore.ViewModel.OrderViewModel>

<div class="track-wrap my-5">
    <ul class="order-tracking-ul">
        @if (ViewBag.OrderStatus == "Pending")
        {

            <li class="order-tracking-li active">
                <div class="order-tracking-number"><span>1</span></div>
                <div class="order-tracking-heading">
                    <h1>Pending</h1>
                    <p>Your order is Pending update within one business day.</p>
                </div>
            </li>
            <li class="order-tracking-li">
                <div class="order-tracking-number"><span>2</span></div>
                <div class="order-tracking-heading">
                    <h1>Patch</h1>
                    <p>Your order is now patch to delivery boy</p>
                </div>
            </li>
            <li class="order-tracking-li">
                <div class="order-tracking-number"><span>3</span></div>
                <div class="order-tracking-heading">
                    <h1>Deliver</h1>
                    <p>Your order is now Complete</p>
                </div>
            </li>
        }
        else if (ViewBag.OrderStatus == "Patch")
        {

            <li class="order-tracking-li active">
                <div class="order-tracking-number"><span>1</span></div>
                <div class="order-tracking-heading">
                    <h1>Pending</h1>
                    <p>Your order is Pending update within one business day.</p>
                </div>
            </li>
            <li class="order-tracking-li active">
                <div class="order-tracking-number"><span>2</span></div>
                <div class="order-tracking-heading">
                    <h1>Patch</h1>
                    <p>Your order is now patch to delivery boy</p>
                </div>
            </li>
            <li class="order-tracking-li">
                <div class="order-tracking-number"><span>3</span></div>
                <div class="order-tracking-heading">
                    <h1>Deliver</h1>
                    <p>Your order is now Complete</p>
                </div>
            </li>
        }
        else if (ViewBag.OrderStatus == "Deliver")
        {

            <li class="order-tracking-li active">
                <div class="order-tracking-number"><span>1</span></div>
                <div class="order-tracking-heading">
                    <h1>Pending</h1>
                    <p>Your order is Pending update within one business day.</p>
                </div>
            </li>
            <li class="order-tracking-li active">
                <div class="order-tracking-number"><span>2</span></div>
                <div class="order-tracking-heading">
                    <h1>Patch</h1>
                    <p>Your order is now patch to delivery boy</p>
                </div>
            </li>
            <li class="order-tracking-li active">
                <div class="order-tracking-number"><span>3</span></div>
                <div class="order-tracking-heading">
                    <h1>Deliver</h1>
                    <p>Your order is now Complete</p>
                </div>
            </li>
        }
    </ul>
</div>

<h2 class="text-center">Order Tracking </h2>
<br />
<div class="table-responsive">
    <table class="table">
        <thead>
            <tr>
                <th scope="col">Name</th>
                <th scope="col">Mobile#</th>
                <th scope="col">Adress</th>
                <th scope="col">Order#</th>
                <th scope="col">Date</th>
                <th scope="col">Product</th>
                <th scope="col">Category</th>
                <th scope="col">Size</th>
                <th scope="col">Picture</th>
                <th scope="col">Price</th>
                <th scope="col">Quantity</th>
                <th scope="col">Shipping Cost</th>
                <th scope="col">Total</th>
            </tr>
        </thead>
        <tbody >
            @if (Model.Any())
            {
                @foreach (var item in Model)
                {
                    <tr>
                        <td scope="row">@(item.FirstName + " " + item.LastName)</td>
                        <td>@item.MobileNumber</td>
                        <td>@item.Address</td>
                        <td>@item.OrderNumber</td>
                        <td>@item.OrderDate</td>
                        <td>@item.productName</td>
                        <td>@item.CategoryName</td>
                        <td>@item.ProductSize</td>
                        <td><img src="~/ProductImage/@item.productPicture" style="height:60px; width:60px" /></td>
                        <td>@item.ProductPrice</td>
                        <td>@item.productQuantity</td>
                        <td>$ 10</td>
                        <td>$@item.Total</td>
                        <td hidden id="orderStatus">@item.OrderStatus</td>
                    </tr>

                }
            }
            else
            {
                <tr>
                    <td colspan="12" class="text-center">Not Record Found</td>
                </tr>
            }

        </tbody>
    </table>
</div>


